<h1>Aktuelles</h1>

<div class="content-tile">
	<h2>Tag der offenen Kellertür</h2>
	<p>
		<i>Vom 9. bis 12. August 2018</i>
	</p>
	<p>
		Auch heuer möchten wir Sie wieder recht herzlich zu unserer offenen Kellertür einladen. Neben hausgemachten Aufstrichen,
		einem köstlichen Rindfleischsalat und diversen belegten Broten können Sie auch Petras zuckersüße Mehlspeisen mit einem
		Achterl Wein bei unserem Presshaus genießen.
	</p>
	<p>
		<strong>Wein, Musik & Genuss</strong>
		<br> Am Donnerstag liefern wir Ihnen einen besonderen Abend mit Live Musik von
		<a href="https://www.horstgoessl.com/" target="_blank" rel="noopener noreferrer">Horst Gössl</a>. Verbringen Sie mit uns gemeinsam eine musikalische Nacht bei einem guten Glaserl Wein.
	</p>
	<p>
		<strong>Öffnungzeiten</strong>
		<br> Donnerstag und Freitag ab 17 Uhr
		<br> Samstag und Sonntag ab 15 Uhr
	</p>
	<p>
		Wir freuen uns über euer Kommen!
		<br> Petra, Heinz und Familie
	</p>
	<p>
		<img class="img-responsive" alt="Offene Kellertür am Winzerhof Wurst" src="images/201807_okt18.jpg">
	</p>
</div>

<div class="content-tile">
	<h2>Tafeln im Schloss Schrattenthal</h2>
	<p>
		Am Freitag fand im Schloss Schrattenthal das
		<i>Tafeln im Weinviertel</i> statt. Gemeinsam mit den Winzern Frotzler, Hindler, Pointner und Zull sowie mit dem Team von
		Harald Pollak vom Retzbacherhof wurde den Gästen ein 5-Gänge-Menü mit Weinbegleitung kredenzt. Ein gelungener Abend mit
		interessanten Gesprächen.
	</p>
	<p>
		<img class="img-responsive" alt="Tafeln im Schloss Schrattenthal" src="images/20180619_tafeln.jpg">
	</p>
</div>

<div class="content-tile">
	<h2>Radfreundlicher Beherbergungsbetrieb</h2>
	<p>
		<img class="img-responsive" alt="Radfreundlicher Beherbergungsbetrieb" src="images/20180426_rad.jpg">
		<br> Radfahrer sind bei uns herzlich willkommen!
		<br> Wir freuen uns, dass unser Winzerhof alle Kriterien eines
		<i>radfreundlichen Beherbergungsbetriebs</i> erfüllt.
	</p>
</div>

<div class="content-tile">
	<h2>Sicherheitsplakette</h2>
	<p>
		<img class="img-responsive" alt="Sicherheitsplakette der SVB" src="images/20180319_sicherer_bauernhof.jpg">
		<br> Im Zuge der Ab-Hof-Messe in Wieselburg durften wir stolz die Sicherheitsplakette der SVB entgegennehmen. Die SVB verleiht
		diese Plakette an Betriebe, die besonders viel Wert auf Arbeitssicherheit und Unfallverhütung legen.
	</p>
</div>


<div class="content-tile">
	<h2>Urlaub am Winzerhof</h2>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="640" height="360" src="https://www.youtube.com/embed/O2i49NVaYNs" frameborder="0" allowfullscreen></iframe>
	</div>
</div>


<div class="content-tile">
	{{> news_retzbacherhof}}
</div>


<div class="content-tile">
	{{> news_schlossschrattenthal}}
</div>


<div class="content-tile">
	{{> news_rentarebstock}}
</div>


<div class="content-tile">
	{{> news_market}}
</div>
