<h1>Aktuelles</h1>

Der Fr&uuml;hling ist da und mit ihm die neuen <a href="/weinkarte" class="wines">Weine</a>! 🌻🌷🍇 <br>
Ab sofort sind die 2017er Weine bei uns erhältlich. Wir freuen uns auf Ihre
<a href="/weinkarte" class="wines">Bestellung</a>!

<hr>

<h2>Weinfrühling - Blaue Elf Linz</h2>
<p>
	21. April 2018
</p>
<p>
	Ab 17 Uhr Verkostung unsere frisch-fruchtigen Weine.
	Das Team der blauen Elf verwöhnt euch mit köstlichen
	Schmankerl.
</p>
<p>
	ASKÖ Blaue Elf Linz<br>
	Teutschmannweg 1<br>
	4020 Linz
</p>
<hr>

<h2>Sicherheitsplakette</h2>
<p>
	<img class="img-responsive" alt="Sicherheitsplakette der SVB" src="images/20180319_sicherer_bauernhof.jpg">
	<br>
	Im Zuge der Ab-Hof-Messe in Wieselburg durften wir stolz die Sicherheitsplakette der SVB
	entgegennehmen. Die SVB verleiht diese Plakette an Betriebe, die besonders viel Wert auf
	Arbeitssicherheit und Unfallverhütung legen.
</p>

<hr>

<h2>Tafeln im Weinviertel</h2>
<p>
	Freitag, 15. Juni 2018, 18 Uhr
</p>
<p>
	Tafeln im historischen <a href="http://www.schloss-schrattenthal.at" target="_blank" rel="noopener">Schloss Schrattenthal</a>.<br>
	Weitere Infos unter <a target="_blank" rel="noopener" href="https://www.weinviertel.at/tafeln-im-weinviertel/o-tafeln-im-historischen-schloss">weinviertel.at</a>
</p>
<hr>

<h2>Urlaub am Winzerhof</h2>
<div class="embed-responsive embed-responsive-16by9">
	<iframe width="640" height="360" src="https://www.youtube.com/embed/O2i49NVaYNs" frameborder="0" allowfullscreen></iframe>
</div>
<hr>

{{> news_retzbacherhof}}
<hr>
{{> news_schlossschrattenthal}}
<hr>
{{> news_rentarebstock}}
<hr>
{{> news_market}}
