<h2>Bauernmarkt Leonding / Ober&ouml;sterreich</h2>
<p>
		Am Leondinger Wochenmarkt gibt es jeden Samstag frische und saisonale Spezialitäten der hiesigen Bauern.
		Jeden dritten Samstag im Monat sind auch wir vor Ort, um unsere Produkte anzubieten.
</p>
<div class="row">
	<div class="col-md-7 col-sm-12">
		<img class="img-responsive" src="images/leonding2.jpg" alt="Bauernmarkt Leonding">
	</div>
	<div class="col-md-5 col-sm-12">
		<p>
			<h2>Termine</h2>
			<ul>
                {{#each marketDates}}
				<li>{{[../templatehelpers/formatDate] this}}</li>
                {{/each}}
			</ul>
		</p>
		<p>
			Wir sind von 7.00 Uhr bis 12.00 am Leondinger Stadtplatz (in den Wintermonaten im Atrium) mit unseren Weinen und Schmankerln
			an den oben genannten Tagen vertreten. &nbsp;
		</p>
	</div>
</div>
<p>
	Der Lokalsender LT1 hat kürzlich einen Beitrag über den Wochenmarkt gesendet.<br>
	<iframe src='https://www.lt1.at/programm/einbetten/23-03-2018/episode/frisches-vom-standl' width='800' height='480' frameborder='0' allowfullscreen></iframe>
</p>