<h1>Aktuelles</h1>

<div class="content-tile">
	<h2>Unser Genießerzimmer</h2>
	<p>
		<img class="img-responsive" alt="Radfreundlicher Beherbergungsbetrieb" src="images/20181021_geniesserzimmer.jpg">
		<br>
		<img class="img-responsive" alt="Radfreundlicher Beherbergungsbetrieb" src="images/rooms_geniesser_1.jpg">
		<br>
		<img class="img-responsive" alt="Radfreundlicher Beherbergungsbetrieb" src="images/rooms_geniesser_2.jpg">
		<br>
		Nach 10 Jahren erfolgreicher Vermietung unserer drei Gästezimmer bieten wir nun auch ein Genießerzimmer für Sie an. Genießen Sie das Weinviertel bei einem noch geräumigeren Zimmer und eigenem Balkon.
		<br>
		Wir freuen uns auf Ihre Buchung!
	</p>
</div>

<div class="content-tile">
	<h2>Weinlese 2018</h2>
	<p>
		Es ist vollbracht. 3 Wochen früher als normal starteten wir am 27. August mit unserem Müller Thurgau in die Weinlese. Am 21. September ernteten wir unsere letzten Trauben, unseren Merlot. Wir freuen uns bereits auf den neuen Jahrgang.
	</p>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="800" height="450" src="https://www.youtube-nocookie.com/embed/GojiUh4saPY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
</div>

<div class="content-tile">
	<h2>Radfreundlicher Beherbergungsbetrieb</h2>
	<p>
		<img class="img-responsive" alt="Radfreundlicher Beherbergungsbetrieb" src="images/20180426_rad.jpg">
		<br> Radfahrer sind bei uns herzlich willkommen!
		<br> Wir freuen uns, dass unser Winzerhof alle Kriterien eines
		<i>radfreundlichen Beherbergungsbetriebs</i> erfüllt.
	</p>
</div>

<div class="content-tile">
	<h2>Sicherheitsplakette</h2>
	<p>
		<img class="img-responsive" alt="Sicherheitsplakette der SVB" src="images/20180319_sicherer_bauernhof.jpg">
		<br> Im Zuge der Ab-Hof-Messe in Wieselburg durften wir stolz die Sicherheitsplakette der SVB entgegennehmen. Die SVB verleiht
		diese Plakette an Betriebe, die besonders viel Wert auf Arbeitssicherheit und Unfallverhütung legen.
	</p>
</div>


<div class="content-tile">
	<h2>Urlaub am Winzerhof</h2>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="640" height="360" src="https://www.youtube.com/embed/O2i49NVaYNs" frameborder="0" allowfullscreen></iframe>
	</div>
</div>


<div class="content-tile">
	{{> news_retzbacherhof}}
</div>


<div class="content-tile">
	{{> news_schlossschrattenthal}}
</div>


<div class="content-tile">
	{{> news_rentarebstock}}
</div>


<div class="content-tile">
	{{> news_market}}
</div>
