<div class="description">
	<strong>{{name}} {{year}}</strong><br>
	{{description}}<br>
	<small>{{{ text }}}</small>
</div>
<div class="unit-price">
	{{unit}}<br>
	€{{price}}
</div>
<div class="add-to-cart">
	{{#if out_of_stock}}
	<span class="out-of-stock">ausgetrunken</span>
	{{else}}
	<div class="input-group">
		<input type="text"
		       value="{{quantity}}"
		       class="form-control">
		<span class="input-group-btn">
			<button class="btn btn-default add-6" type="button">+6</button>
			<button class="btn btn-default add-12" type="button">+12</button>
		</span>
	</div>
	{{/if}}
</div>
