<h1>Kontakt</h1>
<address>
	<strong>Winzerhof Wurst</strong><br>
	Schrattenthal 23<br>
	2073 Schrattenthal<br>
	&Ouml;sterreich<br>
	<br>
	<table id="contact-phone">
		<tbody>
			<tr>
				<td>Telefon/Fax:</td>
				<td>+43 (0) 2946 / 8251</td>
			</tr>
			<tr>
				<td>Mobil:</td>
				<td>+43 (0) 699 / 12137282</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
				<td>
					+43 (0) 699 / 12757723
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	E-Mail: <a href="mailto:office@winzerhof-wurst.at">office@winzerhof-wurst.at</a><br>
	Web: <a href="http://www.winzerhof-wurst.at">www.winzerhof-wurst.at</a>
</address>
<!--<h3>Vertriebspartner</h3>
<a href="#partner">Hier</a> finden Sie unsere Verkaufspartner.-->
<h2>Anfahrt/Lage</h2>
<div class="embed-responsive embed-responsive-4by3">
	<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21060.186038943164!2d15.91345707678573!3d48.714592591941624!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4772a79ab2982c2f%3A0xd0b1c41b9f5fb5ea!2sWinzerhof+Wurst!5e0!3m2!1sen!2s!4v1404132526547" width="425" height="350" frameborder="0" style="border:0"></iframe>
</div>
<small>
	<a target="_blank" href="https://www.google.com/maps/place/Winzerhof+Wurst/@48.716964,15.909187,17z/data=!3m1!4b1!4m2!3m1!1s0x4772a79ab2982c2f:0xd0b1c41b9f5fb5ea">Gr&ouml;&szlig;ere Ansicht bei Google Maps</a>
</small>