<div id="home-wrapper">
	<h1 class="cover-heading text-center">Winzerhof Wurst</h1>
	<p class="lead text-center">Weinkultur mit Zukunft</p>

	<div id="home-navigation">
		<a href="#aktuelles">Aktuelles</a>
		<a href="#betrieb">Betrieb</a>
		<a href="#gaestezimmer">Gästezimmer</a>
		<a href="#weinkarte">Weinkarte</a>
		<a href="#schmankerl">Schmankerl</a>
		<a href="#kontakt">Kontakt</a>
	</div>

	<a id="home-rooms" href="#gaestezimmer">
		<div class="row clearfix">
			<div class="col-sm-3 hidden-xs"></div>
			<div class="col-sm-2 col-xs-4">
				<img class="center-block img-responsive" 
				     src="images/logo_4blumen.gif"
				     alt="4 Blumen">
			</div>
			<div class="col-sm-2 col-xs-4">
				<img class="center-block img-responsive"
				     src="images/logo_uab.gif"
				     alt="Urlaub am Bauernhof">
			</div>
			<div class="col-sm-2 col-xs-4">
				<img class="center-block img-responsive"
				     src="images/logo_traube.gif"
				     alt="Winzerhof Wurst">
			</div>
			<div class="col-sm-3 hidden-xs"></div>
		</div>
	</a>
</div>