<div class="description">
	<strong>{{name}} {{year}}</strong><br>
	Short Description<br>
	<small>Description Description Description Description Description</small>
</div>
<div>0.75l</div>
<div>{{price}}€</div>
<div class="add-to-cart">
	<div class="input-group">
		<input type="text"
		       value="0"
		       class="form-control">
		<span class="input-group-btn">
			<button class="btn btn-default add-6" type="button">+6</button>
			<button class="btn btn-default add-12" type="button">+12</button>
		</span>
	</div>
</div>
