<div class="description">
    <strong>{{name}} {{year}}</strong><br>
    Short Description<br>
    <small>Description Description Description Description Description</small>
</div>
<div>0.75l</div>
<div>{{price}}€</div>
<div class="add-to-cart">
    <div class="input-group">
        <input type="text"
               value="6"
               class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">In den Warenkorb</button>
        </span>
    </div>
</div>